.container__small-card {
  /* border: 1px solid white;  */
  margin-bottom: 15px;
  width: 100%;

}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}


.photo__small-card > img {
  width: 200px;
  margin-right: 20px;
}

.title-card__small-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__small-card__separator {
  margin-top: 10px;
}
