<div class="container__small-card">
  <div class="container__small-card-content">

    <div class="photo__small-card">
      <img
      src="{{photoCover}}"
      alt="image placeholder"
      >
    </div>

    <div class="title-card__small-card">
    <h1>
      <a href="#">{{titleCard}}</a>
    </h1>
  </div>
</div>

  <!-- <div class="description__small-card">
    <p>
      <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex illum fugit, aspernatur laborum eveniet laudantium, modi, vitae qui doloribus alias deleniti accusamus similique expedita iure pariatur officiis provident. Esse, maxime?</a>
    </p>
  </div> -->
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>

