<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      Id="0"
      photoCover="https://upload.wikimedia.org/wikipedia/pt/5/5a/Metal_Gear_Rising_capa.png"
      cardTitle="Metal Gear Risign"
      cardDescription="The best game evar"
    >

    </app-big-card>
  </div>
  <div class="articles__orthers">
    <app-small-card
      Id="1"
      photoCover="https://assetsio.reedpopcdn.com/jetstreamsam.jpg?width=1200&height=630&fit=crop&enable=upscale&auto=webp"
      titleCard="Jetstream Sam"
    ></app-small-card>
    <app-small-card
      Id="2"
      photoCover="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/34a64499-31e2-4cad-82be-d83d7504ad51/dan17ek-d7c9a06f-614b-4573-81a6-40d71b937e86.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM0YTY0NDk5LTMxZTItNGNhZC04MmJlLWQ4M2Q3NTA0YWQ1MVwvZGFuMTdlay1kN2M5YTA2Zi02MTRiLTQ1NzMtODFhNi00MGQ3MWI5MzdlODYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6RwXb1wsqcbRk5o9cLuXths1y8MhXSlwRNc9MXXvPVU"
      titleCard="Monsoon"
    ></app-small-card>
    <app-small-card
      Id="3"
      photoCover="https://i.ytimg.com/vi/GoDDYceR-TQ/maxresdefault.jpg"
      titleCard="Mistral"
    ></app-small-card>
  </div>
</div>
