<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      photoCover="https://upload.wikimedia.org/wikipedia/pt/5/5a/Metal_Gear_Rising_capa.png"
      cardTitle="Metal Gear Risign"
      cardDescription="The best game evar"
    >

    </app-big-card>
  </div>
  <div class="articles__orthers">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>
